@import '../../../../../vars'
@import '../../../../../mixins'

#AccommodationDetailsNav
  background-color: $light-green
  display: flex
  flex-flow: nowrap column
  align-items: center
  justify-content: space-around
  @include breakpoint(tablet_portrait)
    border-top-left-radius: 1rem
    border-bottom-left-radius: 1rem
    width: 30%
  h4
    font-family: Montserrat-Regular
    font-size: 20pt
    font-weight: normal
    text-align: center
  p
    font-family: Roboto-Bold
    font-size: 14pt
    text-align: center
  button
    @include button_light
  #imageNav
    button
      margin: 0.3rem