@import '../../../../../mixins'
  
#AccommodationDetailsNav
  background-color: $medium-green
  display: flex
  flex-flow: nowrap column
  button
    @include button_dark
  .close
    margin-left: 1rem
  h2
    padding: 1rem
    font-family: Montserrat
    font-weight: normal
  p
    padding: 0.4rem
    font-family: 'Roboto'
  @include breakpoint(tablet_portrait)
    width: 25rem
    border-top-left-radius: 2rem
    border-bottom-left-radius: 2rem
    justify-content: space-between
    padding: 1rem