@import "../../../vars"
  
#GallerySection
  display: flex
  flex-flow: nowrap column
  align-items: center
  max-width: $section-max-width
  background-color: $light-green
  ul
    margin: 0 4rem
    display: flex
    flex-flow: wrap row
    justify-content: space-evenly
    align-items: center
    li
      margin: 1rem 0.5rem
      display: flex
      flex-flow: nowrap column
      align-items: center
      img
        border-radius: 0.5rem
        width: 20rem