@import '../../../../vars'
@import '../../../../mixins'
  
#ParallaxText
  text-align: center
  font-family: 'Maian'
  color: $light-green
  font-size: 32pt
  @include breakpoint(tablet_portrait)
    font-size: 48pt