@import '../../../../vars'
  
.ExploreCategory-closed
  margin: 0rem 1rem
  .categoryActivities
    background-color: $dark-green
    height: 0
    overflow: hidden
  
.ExploreCategory-open
  margin: 0rem 1rem
  .categoryActivities
    background-color: $dark-green
    height: auto

@media screen and (min-width: 750px)
  .ExploreCategory-closed
    margin: 0
  
  .ExploreCategory-open
    margin: 0