@import '../../../vars'
@import '../../../mixins'

#AccommodationDetails
  display: flex
  flex-flow: nowrap column
  background-color: $dark-green
  @include breakpoint(tablet_portrait)
    width: 80%
    height: 35rem
    flex-flow: nowrap row