@import '../../../vars'
@import '../../../mixins'
  
#LiveSection
  background-color: $medium-green
  max-width: $section-max-width
  margin: auto
  display: flex
  flex-flow: nowrap column
  align-items: center
  @include breakpoint(tablet_portrait)
    padding: 5rem 0 10rem 0