@import '../../../../mixins'
  
#AccommodationOptions
  display: flex
  flex-flow: nowrap column
  width: 100%
  align-items: center
  @include breakpoint(tablet_portrait)
    flex-flow: wrap row
    width: 80%
    justify-content: space-between
    margin: auto