@import '../../../vars'
  
#Navigation
  width: 100%
  ul
    width: 100%
    display: flex
    flex-flow: nowrap row
    justify-content: space-around
    li
      text-align: center
      a
        color: $white
        font-family: 'Montserrat-Regular'
        font-size: 24pt