@import './vars'

@font-face
  font-family: 'Montserrat-Regular'
  src: url('./fonts/Montserrat-Regular.ttf')

@font-face
  font-family: 'Maian'
  src: url('./fonts/MAIAN.ttf')

@font-face
  font-family: 'Pristina'
  src: url('./fonts/PRISTINA.ttf')

@font-face
  font-family: 'Roboto-Bold'
  src: url('./fonts/Roboto-Bold.ttf')

h1, h2, h3, h4
  margin: 0

ul
  list-style-type: none
  margin: 0
  padding: 0

p
  margin: 0

body
  background-color: $medium-green
  width: 100vw
  overflow-x: hidden

body::-webkit-scrollbar
  width: 1.5rem

body::-webkit-scrollbar-track
  box-shadow: inset 0 0 1.5rem $dark-green
  background-color: $light-green

body::-webkit-scrollbar-thumb
  background: $medium-green
  background: linear-gradient(0deg, $light-green 0%, $light-green 40%, $medium-green 43%, $light-green 47%, $medium-green 50%, $light-green 53%, $medium-green 57%, $light-green 60%, $light-green 100%)
  border-radius: 1rem
  box-shadow: 0 0.2rem 2rem 1rem $medium-green