@import '../../../mixins'
@import '../../../vars'

#ContactSection
  width: 100vw
  height: 100vh
  position: relative
  display: flex
  flex-flow: nowrap column
  align-items: center
  justify-content: center
  #contactContent
    display: flex
    flex-flow: nowrap column
    align-items: center
    @include breakpoint(tablet_portrait)
      flex-flow: nowrap row
      width: 80%
    #contactSmallContent
      display: flex
      flex-flow: nowrap column
      align-items: center
      @include breakpoint(tablet_portrait)
        width: 50%
  .messageLoading
    display: flex
    flex-flow: nowrap column
    justify-content: center
    align-items: center
    background-color: $light_green
    padding: 2rem
    border-radius: 2rem
    box-shadow: 0 0.4rem 1rem 0.2rem $dark-green
    .spinner
      width: 3rem
      height: 3rem
      border-radius: 50%
      display: flex
      justify-content: center
      align-items: center
      background: conic-gradient(from 0 at 50% 50%, $light-green, $medium-green)
      animation: spin 0.8s infinite linear
      div
        background-color: $light-green
        width: 2rem
        height: 2rem
        border-radius: 50%
    h1
      font-family: 'Montserrat-Regular'
      margin-top: 2rem
    p
      font-family: 'Roboto'
      max-width: 15rem
      text-align: center
      margin-top: 2rem
  .messageSucceed
    display: flex
    flex-flow: nowrap column
    justify-content: center
    align-items: center
    background-color: $light_green
    padding: 2rem
    border-radius: 2rem
    box-shadow: 0 0.4rem 1rem 0.2rem $dark-green
    h1
      font-family: 'Montserrat-Regular'
    p
      font-family: 'Roboto'
      max-width: 15rem
      text-align: center
      margin-top: 2rem
  .messageFail
    display: flex
    flex-flow: nowrap column
    justify-content: center
    align-items: center
    background-color: $light_green
    padding: 2rem
    border-radius: 2rem
    box-shadow: 0 0.4rem 1rem 0.2rem $dark-green
    h1
      font-family: 'Montserrat-Regular'
    p
      font-family: 'Roboto'
      max-width: 15rem
      text-align: center
      margin-top: 2rem