@import '../../../../vars'
  
.AccommodationOptionClosed
  background-color: $light-green

.AccommodationOptionOpen
  background-color: $light-green

@media screen and (min-width: 750px)
  .AccommodationOptionClosed
    background-color: $light-green
    width: 30%
    height: auto

  .AccommodationOptionOpen
    background-color: $light-green
    width: 100%
    height: 100%
    display: flex
    flex-flow: nowrap row