@import '../../../../vars'
@import '../../../../mixins'
  
#ExploreDetails
  width: 100%
  display: flex
  flex-flow: nowrap column
  @include breakpoint(tablet_portrait)
    order: 100 !important
    flex-flow: wrap column
  .activityName
    font-family: Montserrat-Regular
  .activityDescription
    font-family: Roboto-Bold
    @include breakpoint(tablet_portrait)
      height: 100%
      order: 100 !important