@import '../../vars'
  
#AboutSection
  background-color: $medium-green
  max-width: $section-max-width
  margin: auto
  padding: 2rem 0
  display: flex
  flex-flow: nowrap column-reverse
  align-items: center

@media screen and (min-width: 750px)
  #AboutSection
    padding-top: 8%
    flex-flow: nowrap row
    justify-content: space-around