@import '../../../../../mixins'

.LearnOptionEnquiry
  margin: 1rem
  display: flex
  flex-flow: nowrap column
  font-family: 'Roboto-Bold'
  input, textarea
    padding: 0.2rem
    margin-bottom: 0.2rem
    border-radius: 0.2rem
  button
    @include button_dark
  
@media screen and (min-width: 750px)
  .LearnOptionEnquiry
    width: 50%
    margin: 2rem