@import '../../../../vars'
@import '../../../../mixins'
  
#AccommodationEnquiry
  background-color: $light-green
  display: flex
  flex-flow: nowrap column
  align-items: center
  justify-content: center
  width: 100%
  @include breakpoint(tablet_portrait)
    width: 70%
  #datePickers
    display: flex
    flex-flow: nowrap row
    align-content: space-around
    width: 90%
  .ae_item
    width: 90%
    display: flex
    flex-flow: nowrap column
  .ae_row
    display: flex
    flex-flow: nowrap row